

<ion-content fullscreen>
    <ion-card class="welcome-card">
      <img src="/assets/alger.jpg" alt="" />
      <ion-card-header>
        
        <ion-card-title>
         
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <section class="full-width"> 
          <ion-button  expand="full" routerLink="/auth">
            Connexion
          </ion-button>
          </section>
          <section class="full-width"> 
            <ion-button  expand="full" routerLink="/inscription">
              Inscription
            </ion-button>
            </section>
        </ion-card-content>
    </ion-card>
    
</ion-content>
